div.hero-section {

    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 28%, rgba(0, 0, 0, 0) 70%),
        url("../../assets/images/heroBackground.png");
    background-size: cover;
    height: 950px;
    color: #F7F7F7;
    background-position: top right;

}

div.nav-div {
    position: fixed;
    width: 100%;
}

h1 {
    font-size: 56px;
    font-weight: 900;
    padding-top: 200px;
}

div.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}


div.seperation-line {
    color: var(--WHITECOLOR);
    width: 950px;
    border-style: solid;
    border-width: 0.5px;
    margin-top: 16px;
    margin-bottom: 16px;
}



li {
    letter-spacing: 2px;
}

ul.descriptive-words {
    margin-top: 96px;
    margin-bottom: 150px;
    display: flex;
    list-style: none;
    gap: 230px
}

li.descriptive-li {
    color: var(--SECONDARYBTNCOLOR);
}

button.primary-btn {
    width: 240px;
    height: 58px;
    background-color: var(--PRIMARYBTNCOLOR);
    font-family: inter;
    border-style: none;
    color: black;
    font-weight: 700;
    font-size: 20px;
    border-radius: 8px;
}

button.primary-btn:hover {
    width: 240px;
    height: 58px;
    background-color: var(--WHITECOLOR);
    font-family: inter;
    border-style: none;
    color: black;
    font-weight: 700;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
}

p {
    padding-top: 24px;
    font-size: 20px;
}