* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

}

:root {
    --HEROGRADIENT: linear-gradient(45deg, black, transparent);
    --WHITECOLOR: #F7F7F7;
    --BGDARKCOLOR: #2d2d2d;
    --PRIMARYBTNCOLOR: #CBE5DE;
    --BTNTEXTCOLOR: #385956;
    --SECONDARYBTNCOLOR: #A0834E;
    --TEXTCOLOR: #000000;
    --CARDBGCOLOR: #DCDCDC;
    --GRADIENTPRIMARY: hsla(0, 0%, 0%, 0.65);
    --GRADIENTSECONDARY: hsla(0, 0%, 100%, 100);


}